
body {
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	
}

h1 {
	color: #FFFFFF;
	text-align: center;

}

header {
	background-image: url('../images/sky4.jpg');
	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 3%;

}

nav{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav a {
	text-decoration: none;
	padding: 0.8%;
	/*width: 100px;
	line-height: 50px;*/
	width: 10%;
	line-height: 250%;
	text-align: center;
	font-weight: bold;
	background: rgba(255,255,255,0.4);
	color: #000000;	
	border-radius: 8px;

}

a:hover, .active{
	background: #FFFFFF;
	color: #0000FF;
}

p {
	font-size: 18px;
	text-align: justify;
}

.container {
	display: flex;
}

.left {
	width: 30% ;
	height: 100vh;
	margin-top: 2%;

}

.left h2 {
	background-color: rgba(5,21,36,1);
	color: #FFFFFF;
	padding: 4%;
	border-radius: 6px;
}

.left p {
	background: rgba(103, 165, 208, 0.33);
	border-radius: 6px;
	padding: 4%;
}

.right {
	width: 50%;
	margin: 2%;
	padding-left: 3%;
}